@media (min-width: 768px) and (max-width: 979px) {

}

@media (max-width: 767px) {
  #page-wrapper #header #name-and-slogan{
    padding: 10px 0 10px 0;
    }
  #page-wrapper #header #navigation{
    padding-top: 15px;
    }
  #page-wrapper #header .region-header .form-search .input-append{
    clear: both;
    }
  }

@media (min-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  
}

@media (max-width: 767px) {

}

@media (max-width: 480px) {

}

@media (max-width: 979px) {
}

@media (min-width: 980px) {

}
